<html>
<head>
<title>Zauberer account activation</title>
</head>

<body>
<div style="float:right; margin-left: 10px; margin-right: 10px; margin-bottom: 10px;">
<img width="96" height="96" src="{image}"/>
</div>

<h2>
Dear player of <i>Zauberer</i>,
</h2>

<p>
you requested creation of an account for the <i>Zauberer</i> online card game. To verify your e-mail, please 
enter the following code into your <i>Zauberer</i> app, or click on the link behind the code:
</p>

<p style="padding-left: 40px;">
<a href="{link}">{code}</a>
</p>

<p>
If you did not request a <i>Zauberer</i> account, please ignore this e-mail.
</p>

<p>
Best regards<br/>
Your <i>Zauberer</i> gaming server
</p>

</body>
</html>
