<?xml version="1.0" encoding="utf-8" ?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<context-param>
		<param-name>db.url</param-name>
		<param-value>jdbc:h2:./work/wizard-db</param-value>
	</context-param>
	<context-param>
		<param-name>db.user</param-name>
		<param-value>wizard</param-value>
	</context-param>
	<context-param>
		<param-name>db.password</param-name>
		<param-value>LMGSOJyBjzkLQJ0Z</param-value>
	</context-param>
	<context-param>
		<param-name>db.tcpServer</param-name>
		<param-value>-tcpAllowOthers</param-value>
	</context-param>

	<listener>
		<listener-class>de.haumacher.wizard.server.db.UserDBService</listener-class>
	</listener>

</web-app>


